.navbar {
    height: 80px;
    background-color: rgb(119, 185, 255);
}

.btn-xai-lime {
    margin-top: 200px;
    width: 100%;
    padding: 20px;
    cursor: pointer;
}

.btn-xai-gradcam {
    margin-top: 10px;
    width: 100%;
    padding: 20px;
    cursor: pointer;
    background-color: rgb(70, 231, 147);
}

.btn-xai-gradcam:hover {
    background-color: rgb(70, 231, 147);
}

.xai-image {
    margin-top: 100px;
    width: 100%;
    /* width: 400px;
    height: 400px; */
}

.btn-back {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    cursor: pointer;
}

.custom-toast-message {
    font-size: 25px;
}

.btn-emotion {
    width: 50%;
    margin-top: 10px;
    margin-left: 100px;
    padding: 13px;
    cursor: pointer;
    font-weight: 900;
}